*#
*-local.mk
*.ZILESAVE
*.cache
*.log
*.tmp
*.tmp
*~
.#*
.fuse_hidden????????????????
.repo
GNUmakefile
build
build*
build-*
cache*
deploy-*
project*
repo
sources
sources-*
sources-*/
sources/
tmp*
tmp-**
